$primary   : #1a237e;
$secondary : #283593;
$accent    : #1565c0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #2e7d32;
$negative  : #c62828;
$info      : #0277bd;
$warning   : #f57f17;
